.image_space {
  height: 120px;
  width: 120px;
}

.cursor-p {
  cursor: pointer;
}

.w-35vw {
  width: 35vw;
}

.h-100vh {
  height: 100vh;
}

.h-90vh {
  height: 90vh;
}
.h-60vh {
  height: 60vh;
}

.bg-img {
  background-image: url('./components/userImage/user.png');
  background-size: cover;
  
}
img {
  border-radius: 50%;
  height: 120px !important;
  width: 130px;
  object-fit: cover;
}




@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@media (max-width: 575.98px) {
  .full-viewport {
    height: 80vh;
    
    
  }
}

input[type="file"] {
  display: none;
}


/*spinner for loading*/
.spinner {
  height: 50px;
  width: 50px;
  border-top: 3px solid rgb(92, 165, 238);
  border-radius: 50%;
  animation: spinner 1s linear 0s infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}